html {
    font-family: sans-serif;
}

/* navbar */
img.logo {
    height: 50px;
    width: 50px;
    padding: 0;
}

.navbar-brand img{
    margin-left: 20px;
}





/* section1 */
.section1 {
    background-image: url("https://www.practo.com/bundles/practopractoapp/images/homepage/consumer_homepage.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    min-height: 460px;
    width: 100%;
    background-attachment: fixed;
}
.sub {
    text-align: center;
    color: white;
}

.form-container {
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.form {
    margin-left: -70px;
}

.section-inner-container {
    padding: 70px 0;
}

.form-input {
    min-width: 450px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.form-pad {
    padding: 10px;
    margin: 1px;
}